<!-- Dialog Container -->
<div class="dialog-container">
  <!-- Dialog Header -->
  <div class="dialog-header">
    <button mat-icon-button class="close-btn" (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
    <h2 class="dialog-title">Email Verification</h2>
  </div>

 
  <!-- Message Showing Email -->
  <div class="email-message">
    <p>
      We’ve sent a verification code to your registered email address below. Please enter it here to proceed — and remember, don’t share this code with anyone. This code is valid for 15 minutes. If it expires, you can request a new one.
    </p>
    <p class="email-display">{{ data.email }}</p>
  </div>

  <div mat-dialog-content>
    <form [formGroup]="validationForm">
      <!-- Code Input Fields -->

      <div class="code-inputs">
        <input
          formControlName="input1"
          class="code-input"
          maxlength="1"
          (input)="moveToNext(input2, input1, $event)"
          (keydown)="handleBackspace(input1, null, input2, $event)"
          #input1
        />

        <input
          formControlName="input2"
          class="code-input"
          maxlength="1"
          (input)="moveToNext(input3, input2, $event)"
          (keydown)="handleBackspace(input2, input1, input3, $event)"
          #input2
        />
        <input
          formControlName="input3"
          class="code-input"
          maxlength="1"
          (input)="moveToNext(input4, input3, $event)"
          (keydown)="handleBackspace(input3, input2, input4, $event)"
          #input3
        />
        <input
          formControlName="input4"
          class="code-input"
          maxlength="1"
          (input)="moveToNext(input5, input4, $event)"
          (keydown)="handleBackspace(input4, input3, input5, $event)"
          #input4
        />
        <input
          formControlName="input5"
          class="code-input"
          maxlength="1"
          (input)="moveToNext(input6, input5, $event)"
          (keydown)="handleBackspace(input5, input4, input6, $event)"
          #input5
        />
        <input
          formControlName="input6"
          class="code-input"
          maxlength="1"
          (input)="moveToNext(null, input6, $event)"
          (keydown)="handleBackspace(input6, input5, null, $event)"
          #input6
        />
      </div>

      <!-- Error Message Below Inputs -->
      <div class="error">
        <div
          *ngIf="
            validationForm.get('input1')?.touched &&
            validationForm.get('input1')?.invalid
          "
          class="error"
        >
          <small *ngIf="validationForm.get('input1')?.errors?.['required']"
            >Input box 1 is required a field.</small
          >
          <small *ngIf="validationForm.get('input1')?.errors?.['pattern']"
            >Please enter a valid numeric value in input box 1.</small
          >
        </div>
        <div
          *ngIf="
            validationForm.get('input2')?.touched &&
            validationForm.get('input2')?.invalid
          "
          class="error"
        >
          <small *ngIf="validationForm.get('input2')?.errors?.['required']"
            >Input box 2 is required a field.</small
          >
          <small *ngIf="validationForm.get('input2')?.errors?.['pattern']"
            >Please enter a valid numeric value in input box 2.</small
          >
        </div>
        <div
          *ngIf="
            validationForm.get('input3')?.touched &&
            validationForm.get('input3')?.invalid
          "
          class="error"
        >
          <small *ngIf="validationForm.get('input3')?.errors?.['required']"
            >Input box 3 is a required field.</small
          >
          <small *ngIf="validationForm.get('input3')?.errors?.['pattern']"
            >Please enter a valid numeric value in input box 3.</small
          >
        </div>
        <div
          *ngIf="
            validationForm.get('input4')?.touched &&
            validationForm.get('input4')?.invalid
          "
          class="error"
        >
          <small *ngIf="validationForm.get('input4')?.errors?.['required']"
            >Input box 4 is a required field.</small
          >
          <small *ngIf="validationForm.get('input4')?.errors?.['pattern']"
            >Please enter a valid numeric value in input box 4.</small
          >
        </div>
        <div
          *ngIf="
            validationForm.get('input5')?.touched &&
            validationForm.get('input5')?.invalid
          "
          class="error"
        >
          <small *ngIf="validationForm.get('input5')?.errors?.['required']"
            >Input box 5 is a required field.</small
          >
          <small *ngIf="validationForm.get('input5')?.errors?.['pattern']">
            Please enter a valid numeric value in input box 5.</small
          >
        </div>
        <div
          *ngIf="
            validationForm.get('input6')?.touched &&
            validationForm.get('input6')?.invalid
          "
          class="error"
        >
          <small *ngIf="validationForm.get('input6')?.errors?.['required']"
            >Input box 6 is a required field.</small
          >
          <small *ngIf="validationForm.get('input6')?.errors?.['pattern']">
            Please enter a valid numeric value in input box 6.</small
          >
        </div>
      </div>

      <!-- Verify Button -->
      <button
        mat-button
        class="verify-btn"
        (click)="verifyCode()"
        [disabled]="validationForm.invalid"
      >
        Verify
      </button>
    </form>

    <div class="resend-account-validation-code">
      <p>
        Didn't receive code?
        <button mat-button color="primary" (click)="resendCode()">
          Resend
        </button>
      </p>
    </div>
  </div>
</div>
