
  <div class="registration-page">
    <div class="registration-container">
      <h2>User Registration</h2>

      <form
        [formGroup]="registerForm"
        (ngSubmit)="Register()"
        class="form-container"
      >
        <!-- First Name -->
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            id="firstName"
            type="text"
            formControlName="firstName"
            class="form-control"
            placeholder="Enter First Name"
          />
          <div
            *ngIf="
              registerForm.get('firstName')?.touched &&
              registerForm.get('firstName')?.invalid
            "
            class="error"
          >
            <small *ngIf="registerForm.get('firstName')?.errors?.['required']"
              >First Name is required.</small
            >
            <small *ngIf="registerForm.get('firstName')?.errors?.['minlength']"
              >First Name must be at least 2 characters long.</small
            >
            <small *ngIf="registerForm.get('firstName')?.errors?.['maxlength']"
              >First Name must not exceed 50 characters.</small
            >
            <small *ngIf="registerForm.get('firstName')?.errors?.['whitespace']"
              >First Name cannot be empty or contain only whitespace.</small
            >
          </div>
        </div>

        <!-- Last Name -->
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            id="lastName"
            type="text"
            formControlName="lastName"
            class="form-control"
            placeholder="Enter Last Name"
          />
          <div
            *ngIf="
              registerForm.get('lastName')?.touched &&
              registerForm.get('lastName')?.invalid
            "
            class="error"
          >
            <small *ngIf="registerForm.get('lastName')?.errors?.['required']"
              >Last Name is required.</small
            >
            <small *ngIf="registerForm.get('lastName')?.errors?.['minlength']"
              >Last Name must be at least 2 characters long.</small
            >
            <small *ngIf="registerForm.get('lastName')?.errors?.['maxlength']"
              >Last Name must not exceed 50 characters.</small
            >
            <small *ngIf="registerForm.get('lastName')?.errors?.['whitespace']"
              >Last Name cannot be empty or contain only whitespace.</small
            >
          </div>
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Enter Email"
          />
          <div
            *ngIf="
              registerForm.get('email')?.touched &&
              registerForm.get('email')?.invalid
            "
            class="error"
          >
            <small *ngIf="registerForm.get('email')?.errors?.['required']"
              >Email is required.</small
            >
            <small *ngIf="registerForm.get('email')?.errors?.['pattern']"
              >Enter a valid email.</small
            >
            <small *ngIf="registerForm.get('email')?.errors?.['maxlength']"
              >Email must not exceed 100 characters.</small
            >
          </div>
        </div>

        <!-- Password -->
        <div class="form-group">
          <label for="password">Password</label>
          <div class="password-container">
            <input
              id="password"
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="password"
              class="form-control"
              placeholder="Enter Password"
            />
            <span class="eye-icon" (click)="togglePasswordVisibility()">
              <i class="material-icons">
                {{ hidePassword ? "visibility_off" : "visibility" }}
              </i>
            </span>
          </div>
          <div
            *ngIf="
              registerForm.get('password')?.touched &&
              registerForm.get('password')?.invalid
            "
            class="error"
          >
            <small *ngIf="registerForm.get('password')?.errors?.['required']"
              >Password is required.</small
            >
            <small *ngIf="registerForm.get('password')?.errors?.['minlength']"
              >Password must be at least 8 characters long.</small
            >
            <small *ngIf="registerForm.get('password')?.errors?.['maxlength']"
              >Password must not exceed 18 characters.</small
            >
            <small *ngIf="registerForm.get('password')?.errors?.['pattern']">
              Password must contain an uppercase letter, a lowercase letter, a
              number, and a special character (&#64;#$%^&+=).
            </small>
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <div class="password-container">
            <input
              id="confirmPassword"
              [type]="hideConfirmPassword ? 'password' : 'text'"
              formControlName="confirmPassword"
              class="form-control"
              placeholder="Confirm Password"
            />
            <span class="eye-icon" (click)="toggleConfirmPasswordVisibility()">
              <i class="material-icons">
                {{ hideConfirmPassword ? "visibility_off" : "visibility" }}
              </i>
            </span>
          </div>
          <div
            *ngIf="
              registerForm.hasError('passwordMismatch') &&
              registerForm.get('confirmPassword')?.touched
            "
            class="error"
          >
            <small>Passwords do not match.</small>
          </div>
        </div>

        <!-- Contact Number -->
        <div class="form-group">
          <label for="contactNumber">Contact Number</label>
          <input
            id="contactNumber"
            type="text"
            formControlName="contactNumber"
            class="form-control"
            placeholder="Enter Contact Number"
          />
          <div
            *ngIf="
              registerForm.get('contactNumber')?.touched &&
              registerForm.get('contactNumber')?.invalid
            "
            class="error"
          >
            <small
              *ngIf="registerForm.get('contactNumber')?.errors?.['required']"
              >Contact Number is required.</small
            >
            <small
              *ngIf="registerForm.get('contactNumber')?.errors?.['pattern']"
              >Contact Number must be exactly 10 digits.</small
            >
          </div>
        </div>

        <!-- Terms and Conditions -->
        <div class="form-group">
          <label>
            <input type="checkbox" formControlName="terms" />
            I agree to the <a href="#">Privacy Terms and Policies</a>.
          </label>
          <div
            *ngIf="
              registerForm.get('terms')?.touched &&
              !registerForm.get('terms')?.value
            "
            class="error"
          >
            <small>You must agree to the privacy terms and policies.</small>
          </div>
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          [disabled]="registerForm.invalid || !registerForm.get('terms')?.value"
          class="submit-btn"
        >
          Register
        </button>

        <div class="login-link">
          <p>Already have an account? <a routerLink="/user-login">Login</a></p>
        </div>
      </form>
    </div>
    <div class="login-link"></div>
  </div>

