<!-- <button mat-raised-button (click)="openValidationPopup()">Open Validation Popup</button> -->

<router-outlet></router-outlet>

<!-- {{user.password}}

<h1>User Registration Form</h1>

<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <label for="firstName">First Name:</label>
  <input
    id="firstName"
    type="text"
    [(ngModel)]="user.firstName"
    name="firstName"
    required
    pattern="^[A-Za-z]+$"
    maxlength="50"
    #firstNameRef="ngModel"
    (blur)="validateFirstName(firstNameRef)"
  />

  <div *ngIf="firstNameRef.invalid && firstNameRef.touched">
    <small *ngIf="firstNameRef.errors?.['required']" style="color: red"
      >First Name is required.</small
    >
    <small *ngIf="lastNameRef.errors?.['maxlength']" style="color: red"
      >First Name should not exceed 50 characters.</small
    >
    <small *ngIf="firstNameRef.errors?.['pattern']" style="color: red;">
      First Name must contain only letters (no spaces).
    </small>
  </div>

  <label for="lastName">Last Name:</label>
  <input
    id="lastName"
    type="text"
    [(ngModel)]="user.lastName"
    name="lastName"
    required
    pattern="^[A-Za-z]+$"
    maxlength="50"
    #lastNameRef="ngModel"
    (blur)="validateLastName()"
  />

  <div *ngIf="lastNameRef.invalid && lastNameRef.touched">
    <small *ngIf="lastNameRef.errors?.['required']" style="color: red"
      >Last Name is required.</small
    >
    <small *ngIf="lastNameRef.errors?.['maxlength']" style="color: red"
      >Last Name should not exceed 50 characters.</small
    >
    <small *ngIf="lastNameRef.errors?.['pattern']" style="color: red;">
      Last Name must contain only letters (no spaces).
    </small>
  </div>

  <label for="email">Email:</label>
  <input
    id="email"
    type="email"
    [(ngModel)]="user.email"
    name="email"
    required
    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"  
    maxlength="100"
    #emailRef="ngModel"
  />

  <div *ngIf="emailRef.invalid && emailRef.touched">
    <small *ngIf="emailRef.errors?.['required']" style="color: red"
      >Email is required.</small
    >
    <small *ngIf="emailRef.errors?.['pattern']" style="color: red;">
      Invalid email format.
    </small>

    <small *ngIf="emailRef.errors?.['maxlength']" style="color: red"
      >Email should not exceed 100 characters.</small
    >
  </div>

  <label for="password">Password:</label>
  <input
    id="password"
    type="password"
    [(ngModel)]="user.password"
    name="password"
    required
    pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).{8,18}$"
    #passwordRef="ngModel"
  />

  <div *ngIf="passwordRef.invalid && passwordRef.touched">
    <small *ngIf="passwordRef.errors?.['required']" style="color: red"
      >Password is required.</small
    >
    <small *ngIf="passwordRef.errors?.['pattern']" style="color: red"
      >Password must be 8-18 characters and include a digit, lowercase,
      uppercase, and special character.</small
    >
  </div>

  <label for="contactNumber">Contact Number:</label>
  <input
    id="contactNumber"
    type="text"
    [(ngModel)]="user.contactNumber"
    name="contactNumber"
    required
    pattern="^[0-9]{10}$"
    #contactNumberRef="ngModel"
  />

  <div *ngIf="contactNumberRef.invalid && contactNumberRef.touched">
    <small *ngIf="contactNumberRef.errors?.['required']" style="color: red"
      >Contact Number is required.</small
    >
    <small *ngIf="contactNumberRef.errors?.['pattern']" style="color: red"
      >Contact Number must be exactly 10 digits.</small
    >
  </div>


 <--  //Submit Button 
  <button type="submit" [disabled]="!userForm.form.valid">Register</button>
</form> -->
